.profile_img {
    height: 300px;
    width: auto;
    border-radius: 10%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: flex;
    gap: 25px;
}

.top-right {
    display:flex;
    flex-direction: column;
}